@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


html, body {
    background: black;
    margin: 10px;
    padding: 10px;
    height: 100%;
    -webkit-text-size-adjust: none;
}

body 
{
	padding:0;
	color: white;
	background-color: black;
	font-family: Calibri,Arial,Helvetica-Light,Helvetica,ArialMT,sans-serif;
	font-weight: bold;
}

a
{
	text-decoration:underline;
	cursor:pointer;
}

a:link
{
	color:#5555ff;
}

a:visited
{
	color:#55ffaa;
}

h1
{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 16pt;
    text-align: left;
    margin-top: 5pt;
    padding-bottom: 0;
    color: lightgray;
}


h2
{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 16pt;
	text-align: left;
    margin-top: 15pt;
	padding-bottom: 0;
    color: lightgray;
}

h3
{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 15pt;
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
}

h4
{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 14pt;
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
}

input
{
    margin-left: 8px;
    margin-right: 3px;
    margin-top: 4px;
}

select
{
	background: #323232;
	color: #ffffff; 
}

optgroup
{
    font-style: normal;
}

optgroup option
{
    margin-left: 1em;
}

ul
{
     list-style-type: none;
}

li
{
    margin: 4pt;
    font-size: 12pt;
}

/* Generic pane rules */
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
