@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


html, body {
    background: black;
    margin: 10px;
    padding: 10px;
    height: 100%;
    -webkit-text-size-adjust: none;
    font-size: 12pt;
}

body 
{
	padding:0;
	color: white;
	background-color: black;
	font-family: Calibri,Arial,Helvetica-Light,Helvetica,ArialMT,sans-serif;
	font-size: 14px;
	font-weight: bold;
}

a
{
	text-decoration:underline;
	cursor:pointer;
}

a:link
{
	color:#5555ff;
}

a:visited
{
	color:#55ffaa;
}

h1
{
	font-family: Tahoma,Verdana,Arial,Helvetica,ArialMT,sans-serif;
	font-size: 20pt;
	font-weight: bold;
	text-align: left;
    margin: 5px;
}

h2
{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 14pt;
	text-align: left;
    margin-top: 20pt;
	padding-bottom: 0;
    color: lightgray;
}

h3
{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 10pt;
	text-align: left;
	padding-top: 2px;
	padding-bottom: 0;
}

h4
{
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 9pt;
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
}

input
{
    margin-left: 8px;
    margin-right: 3px;
    margin-top: 4px;
}

select
{
	background: #323232;
	color: #ffffff; 
}

optgroup
{
    font-style: normal;
}

optgroup option
{
    margin-left: 1em;
}

ul
{
     list-style-type: none;
}

li
{
    margin: 4pt;
    font-size: 14pt;
}

li.menuItem
{
    font-size: 16px;
    margin: 15px;
}

/* Generic pane rules */
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

/* custom "dialog" to host CKEditor */
.dialogButton {
    margin-left:5px;
    padding: 5px 15px;
}

/*
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
 .ui-helper-hidden { display: none; }
 .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px,1px,1px,1px); }
 .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
 .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 .ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
 .ui-helper-clearfix { display:block; }
/* end clearfix */
 .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
 .ui-state-disabled { cursor: default !important; }

/* Misc visuals
----------------------------------*/

/* Overlays */
 .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana,%20Arial,%20sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=6px&bgColorHeader=444444&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=44&borderColorHeader=333333&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=000000&bgTextureContent=05_inset_soft.png&bgImgOpacityContent=25&borderColorContent=555555&fcContent=ffffff&iconColorContent=cccccc&bgColorDefault=222222&bgTextureDefault=03_highlight_soft.png&bgImgOpacityDefault=35&borderColorDefault=444444&fcDefault=eeeeee&iconColorDefault=cccccc&bgColorHover=003147&bgTextureHover=03_highlight_soft.png&bgImgOpacityHover=33&borderColorHover=0b93d5&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=0972a5&bgTextureActive=04_highlight_hard.png&bgImgOpacityActive=20&borderColorActive=26b3f7&fcActive=ffffff&iconColorActive=222222&bgColorHighlight=eeeeee&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=80&borderColorHighlight=cccccc&fcHighlight=2e7db2&iconColorHighlight=4b8e0b&bgColorError=ffc73d&bgTextureError=02_glass.png&bgImgOpacityError=40&borderColorError=ffb73d&fcError=111111&iconColorError=a83300&bgColorOverlay=5c5c5c&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=50&opacityOverlay=80&bgColorShadow=cccccc&bgTextureShadow=01_flat.png&bgImgOpacityShadow=30&opacityShadow=60&thicknessShadow=7px&offsetTopShadow=-7px&offsetLeftShadow=-7px&cornerRadiusShadow=8px
 */


/* Component containers
----------------------------------*/
 .ui-widget { font-family: Verdana, Arial, sans-serif; font-size: 0.7em; }
 .ui-widget .ui-widget { font-size: 0.5em; }
 .ui-widget input,  .ui-widget select,  .ui-widget textarea,  .ui-widget button { font-family: Verdana, Arial, sans-serif; font-size: 1em; }
 .ui-widget-content { border: 1px solid #555555; background: #000000; color: #ffffff; }
 .ui-widget-content a { color: #ffffff; }
 .ui-widget-header { border: 1px solid #333333; background: #444444; color: #ffffff; font-weight: bold; }
 .ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
 .ui-state-default,  .ui-widget-content .ui-state-default,  .ui-widget-header .ui-state-default { border: 1px solid #444444; background: #222222; font-weight: normal; color: #eeeeee; }
 .ui-state-default a,  .ui-state-default a:link,  .ui-state-default a:visited { color: #eeeeee; text-decoration: none; }
 .ui-state-hover,  .ui-widget-content .ui-state-hover,  .ui-widget-header .ui-state-hover,  .ui-state-focus,  .ui-widget-content .ui-state-focus,  .ui-widget-header .ui-state-focus { border: 1px solid #0b93d5; background: #003147; font-weight: normal; color: #ffffff; }
 .ui-state-hover a,  .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
 .ui-state-active,  .ui-widget-content .ui-state-active,  .ui-widget-header .ui-state-active { border: 1px solid #26b3f7; background: #0972a5; font-weight: normal; color: #ffffff; }
 .ui-state-active a,  .ui-state-active a:link,  .ui-state-active a:visited { color: #ffffff; text-decoration: none; }
 .ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
 .ui-state-highlight,  .ui-widget-content .ui-state-highlight,  .ui-widget-header .ui-state-highlight  {border: 1px solid #cccccc; background: #eeeeee; color: #2e7db2; }
 .ui-state-highlight a,  .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #2e7db2; }
 .ui-state-error,  .ui-widget-content .ui-state-error,  .ui-widget-header .ui-state-error {border: 1px solid #ffb73d; background: #ffc73d; color: #111111; }
 .ui-state-error a,  .ui-widget-content .ui-state-error a,  .ui-widget-header .ui-state-error a { color: #111111; }
 .ui-state-error-text,  .ui-widget-content .ui-state-error-text,  .ui-widget-header .ui-state-error-text { color: #111111; }
 .ui-priority-primary,  .ui-widget-content .ui-priority-primary,  .ui-widget-header .ui-priority-primary { font-weight: bold; }
 .ui-priority-secondary,  .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
 .ui-state-disabled,  .ui-widget-content .ui-state-disabled,  .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
 .ui-corner-all,  .ui-corner-top,  .ui-corner-left,  .ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -khtml-border-top-left-radius: 0; border-top-left-radius: 0; }
 .ui-corner-all,  .ui-corner-top,  .ui-corner-right,  .ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -khtml-border-top-right-radius: 0; border-top-right-radius: 0; }
 .ui-corner-all,  .ui-corner-bottom,  .ui-corner-left,  .ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -khtml-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
 .ui-corner-all,  .ui-corner-bottom,  .ui-corner-right,  .ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -khtml-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

/* Overlays */
 .ui-widget-overlay { background: #5c5c5c; opacity: .80;filter:Alpha(Opacity=80); }
 .ui-widget-shadow { margin: -7px 0 0 -7px; padding: 7px; background: #cccccc; opacity: .60;filter:Alpha(Opacity=60); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
